body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: antiquewhite
}
.font{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.question{
    text-align: center;
}
.picture{
    border-radius: 5px;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
}
.answer{
    width: auto;
    display: flex;
    justify-content: space-evenly;
}
button{
    box-shadow: 0 0 3px rgb(219, 10, 10);
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    font-size: 20px;
}
button:hover{
    background-color: rgb(122, 209, 51);
}
#incorrect{
    position: relative;
    transition: 400ms;
}
